@use "./modules/" as m;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  padding: 2rem 1.5rem;
  background-color: m.color(light__very-pale-blue-top);

  #{&}__cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #{&}__heading {
    font-size: var(--step-2);
    color: m.color(light__very-dark-blue-text);
    text-transform: capitalize;
  }

  #{&}__subheading {
    font-size: var(--step--1);
    color: m.color(light__dark-grayish-blue-text);
    text-transform: capitalize;
  }

  #{&}__toggle-theme {
    display: block;
    text-transform: capitalize;
    font-weight: bold;
    background-color: m.color(toggle__light);
    padding: 0.5rem 1rem;
    border: none;
    outline-offset: 0.15rem;
    cursor: pointer;
    transition: 150ms ease;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      background-image: m.color(toggle__dark);
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: 150ms ease;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover {
      opacity: 0.75;
    }

    &:active {
      scale: 0.975;
    }

    &:focus-visible {
      outline: 0.15rem dotted currentColor;
    }
  }
}

main {
  padding: 2rem;
}

.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(auto, 1fr);
  //   padding: 2rem;

  @media screen and (width < 50rem) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (width < 35rem) {
    & {
      grid-template-columns: 1fr;
    }
  }

  #{&}__item {
    text-align: center;
    padding: 2rem;
    background-color: m.color(light__grayish-blue-card);
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 150ms ease;

    &:hover {
      background-color: #e1e3f0;
    }

    &::before {
      content: "";
      width: 100%;
      height: 0.25rem;
      position: absolute;
      //   background: red;
      top: 0;
      left: 0;
    }
  }

  .facebook::before {
    background-color: m.color(primary__facebook);
  }

  .twitter::before {
    background-color: m.color(primary__twitter);
  }

  .instagram::before {
    background-image: m.color(primary__instagram);
  }

  .youtube::before {
    background-color: m.color(primary__youtube);
  }

  #{&}__item-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  #{&}__item-cols-name {
    font-size: var(--step--2);
  }

  #{&}__item__title {
    font-size: var(--step-4);
  }

  #{&}__item__subtitle {
    font-size: var(--step--2);
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  #{&}__item__change {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-block: 1rem;
  }

  #{&}__item__change-icon {
    width: 0.75rem;
  }

  #{&}__item__change-text {
    font-size: var(--step--1);
    font-weight: bold;
  }
}

.up {
  color: m.color(primary__lime-green);
  font-weight: bold;
}

.down {
  color: m.color(primary__bright-red);
  font-weight: bold;
}

// OVERVIEW - TODAY
.overview-today-heading {
  font-size: var(--step-1);
  margin-block: 1rem;
  margin-top: 2rem;
  text-transform: capitalize;
  font-weight: bold;
  color: m.color(light__dark-grayish-blue-text);
}

.overview-today {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, 1fr);
  gap: 1rem;

  @media screen and (width < 50rem) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (width < 35rem) {
    & {
      grid-template-columns: 1fr;
    }
  }

  #{&}__item {
    background-color: m.color(light__grayish-blue-card);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: 150ms ease;

    &:hover {
      background-color: #e1e3f0;
    }
  }

  #{&}__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
      display: block;
    }
  }

  #{&}__item-header__name {
    text-transform: capitalize;
    font-size: var(--step--1);
    color: m.color(light__dark-grayish-blue-text);
  }

  #{&}__item-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2.5rem;
  }

  #{&}__count {
    font-size: var(--step-2);
    color: m.color(light__very-dark-blue-text);
  }

  #{&}__change {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & img {
      width: 0.5rem;
    }
  }
}

// DARK THEME
.body-dark {
  .header {
    background-color: m.color(neutral__very-dark-blue-bg);

    .header__heading {
      color: m.color(neutral__white);
    }

    .header__subheading {
      color: m.color(neutral__desaturated-blue);
    }
  }

  main {
    background-color: m.color(neutral__very-dark-blue-top);
  }

  .overview__item {
    background-color: m.color(neutral__dark-desaturated-blue-card);

    &:hover {
      background-color: #333a56;
    }

    .overview__item__cols-name {
      color: m.color(neutral__desaturated-blue);
    }

    .overview__item__title {
      color: m.color(neutral__white);
    }

    .overview__item__subtitle {
      color: m.color(neutral__desaturated-blue);
    }
  }

  .overview-today-heading {
    color: m.color(neutral__white);
  }

  .overview-today__item {
    background-color: m.color(neutral__dark-desaturated-blue-card);

    &:hover {
      background-color: #333a56;
    }

    .overview-today__item-header__name {
      color: m.color(neutral__desaturated-blue);
    }

    .overview-today__count {
      color: m.color(neutral__white);
    }
  }
}
